* {
    /* `otf-font-awesome` is required to be installed for icons */
    transition: none;
    box-shadow: none;
    font-family: Cantarell;
    font-size: 17px;
}

#waybar {
    color: #e8e8e8;
    background: #2A2A2A;
}

#workspaces button {
    margin: 4px 0;
    padding: 0 4px;
    color: #d8d8d8;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    border-radius: 4px;
    background-color: #3C3C3C;
}

#workspaces button.urgent {
    margin: 4px 4px 4px 4px;
    border-radius: 4px;
    background-color: #3C3C3C;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#mode,
#memory,
#idle_inhibitor,
#scratchpad,
#mpd {
  margin: 4px 2px;
  padding: 0 6px;
  border-radius: 4px;
  min-width: 20px;
  background-color: #3C3C3C;
}

#window,
#workspaces {
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#tray * {
  padding: 0 8px;
  border-left: 1px solid #181818;
}

#tray {
  margin: 4px 4px 4px 4px;
  border-radius: 4px;
  background-color: #3C3C3C;
}

#tray *:first-child {
  border-left: none;
}

